<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/public/css/fontawesome.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/tailwind.css" type="text/css" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <meta
      property="og:title"
      content="{% block title %}{{ title }}{% endblock %}"
    />
    <meta
      property="og:image"
      content="https://blood-destiny.imgix.net/backgrounds/bkgd_tower_red_sky.png"
    />
    <script src="/public/htmx.js"></script>
  </head>
  <body>
    {% include "components/header/header.html" %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
