<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/public/main.css" type="text/css" />
    <script src="/public/main.js"></script>
    <link rel="icon" href="/public/static/favicon.ico" type="image/x-icon" />
    <meta
      property="og:title"
      content="{% block title %}{{ title }}{% endblock %}"
    />
    <meta
      property="og:image"
      content="https://blood-destiny.imgix.net/backgrounds/bkgd_tower_red_sky.png"
    />
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
  </head>
  <body>
    <div id="content">{% block page_content %}{% endblock %}</div>
  </body>
</html>
