<!-- prettier-ignore -->
{%- import "macros.html" as macros -%}

<header class="hidden sm:flex bg-blue-dark py-9">
  <div class="flex justify-between items-center container mx-auto px-4">
    <a href="/">
      <img
        src="/public/static/images/graphics/blood_destiny_logo.png"
        alt="Blood Destiny Logo"
        width="132"
      />
    </a>
    <ul class="flex">
      {% let desktop_links = [
        ("Home", "/"),
        ("About", "/about"),
        ("Characters", "/characters"),
        ("Soundtrack", "/soundtrack"),
        ("Updates", "/updates"),
        ("Contact", "/contact")
      ] %} 
      {% for (link_text, href) in desktop_links %}
        {% let link_id = ("{}Link" | format(link_text.to_lowercase()))
      %}
      <li class="mx-1 xl:mx-4">
        {% call macros::app_link(link_text, href, link_id) %}
      </li>
      {% endfor %}
    </ul>
    <ul class="flex">
      <li>
        {% 
          call macros::icon_link(
            link="https://twitter.com/BloodDestinyVN",
            icon_class="fa-brands fa-x-twitter",
            target="_blank"
          )
        %}
      </li>
    </ul>
  </div>
</header>
