@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 968px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1920px;

  --color-audio-player: rgb(117 65 72 / 80%);
  --color-blue-dark: #0a101e;
  --color-crimson: #ff0000;
  --color-crimson-light: #f06965 !important;
  --color-ripple: #ffffff99;
  --color-white-hover: rgb(85 85 85 / 60%);

  --font-prosto-one: "Prosto One";
  --font-poppins: "Poppins"; 
}
